{{>header}}
      
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Create New Item</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/index.html" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                 {{#if message}}
                   <div class="alert alert-success" role="alert">
                     {{message}}
                   </div>

                 {{/if}}
                <!-- ============================================================== -->
                <!--add product-->
                <!-- ============================================================== -->
                <div class="row">
                    {{!-- add-item --}}
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="add-product-wrapper">
                            <form action="/admin/create-item" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="itemcategory">
                                        Select Category
                                    </label>
                                    <select name="category" id="Item_Category">
                                        <option value="Bed Cover">Bed Cover</option>
                                        <option value="Pillow Case">Pillow Case</option>
                                        <option value="Blanket">Blanket</option>
                                        <option value="Car Seat Cover">Car Seat Cover</option>
                                        <option value="Coat/Jacket/Blazer">Coat/Jacket/Blazer</option>
                                        <option value="Curtains">Curtains</option>
                                        <option value="Cushion & Sofa Cover"> Corduroy Pants</option>
                                        <option value="Doll">Doll</option>
                                        <option value="Kameez-Salwar & Other Ladies Dress">Kameez-Salwar & Other Ladies Dress</option>
                                        <option value="Long Dress">Long Dress</option>
                                        <option value="Punjabi">Punjabi</option>
                                        <option value="Saree & Others">Saree & Others</option>
                                        <option value="Shirt/T-Shirt/Apron">Shirt/T-Shirt/Apron</option>
                                        <option value="Denim Shirt">Denim Shirt</option>
                                        <option value="Skirt/Lehanga">Skirt/Lehanga</option>
                                        <option value="Suits">Suits</option>
                                        <option value="Table Clothes/Tops">Table Clothes/Tops</option>
                                        <option value="Trouser/Pant">Trouser/Pant</option>
                                        <option value="Under Garments">Under Garmentst</option>
                                        <option value="Winter Wear">Winter Wear</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="itemcategory">
                                        Item Name
                                    </label>
                                    <select name="Item_Name" id="Item_Name">
                                        <option value="Bed Cover(Single)">Bed Cover(Single)</option>
                                        <option value="Bed Cover(Double)">Bed Cover(Double)</option>
                                        <option value="Bed Runner">Bed Runner</option>
                                        <option value="Katha(single)">Katha(single)</option>
                                        <option value="Katha(Double)">Katha(single)</option>
                                        <option value="Quilt(single)">Quilt(single)</option>
                                        <option value="Quilt(Double)">Quilt(Double)</option>
                                        <option value=" Corduroy Pants"> Corduroy Pants</option>
                                        <option value="Oxford Button-Down Shirt">Oxford Button-Down Shirt</option>
                                        <option value="Dress Shirt">Dress Shirt</option>
                                        <option value="Cuban Collar Shirt">Cuban Collar Shirt</option>
                                        <option value="Overshirt">Overshirt</option>
                                        <option value="Flannel Shirt">Flannel Shirt</option>
                                        <option value="Classic Short Sleeve Shirt">Classic Short Sleeve Shirt</option>
                                        <option value="Denim Shirt">Denim Shirt</option>
                                        <option value="Shari">Denim Shirt</option>
                                        <option value="Punjabi">Denim Shirt</option>
                                        <option value="Bed Sheet">Denim Shirt</option>
                                        <option value="Pilow Cover">Denim Shirt</option>
                                        <option value="Curtain">Denim Shirt</option>
                                        <option value="Curtain">Denim Shirt</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h4>Service Price</h4>
                                    {{!-- single-service --}}
                                    <div class="single-checkbox ml-2">
                                      <label class="container-box" data-bs-toggle="collapse" href="#dryWash">Dry Wash
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label>

                                       <div class="price-box collapse form-group" id="dryWash">
                                           <label for="price">Price</label>
                                           <input type="text" name="dryWash" id="price">
                                       </div>
                                    </div>
                                     {{!-- single-service --}}
                                    <div class="single-checkbox ml-2">
                                      <label class="container-box" data-bs-toggle="collapse" href="#steamWash">Steam Wash
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label>

                                       <div class="price-box collapse form-group" id="steamWash">
                                           <label for="price">Price</label>
                                           <input type="text" name="steamWash" id="price">
                                       </div>
                                    </div>
                                     {{!-- single-service --}}
                                    <div class="single-checkbox ml-2">
                                      <label class="container-box" data-bs-toggle="collapse" href="#dryIron">Dry Iron
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label>

                                       <div class="price-box collapse form-group" id="dryIron">
                                           <label for="price">Price</label>
                                           <input type="text" name="dryIron" id="price">
                                       </div>
                                    </div>
                                     {{!-- single-service --}}
                                    <div class="single-checkbox ml-2">
                                      <label class="container-box" data-bs-toggle="collapse" href="#steamIron">Steam Iron
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label>

                                       <div class="price-box collapse form-group" id="steamIron">
                                           <label for="price">Price</label>
                                           <input type="text" name="steamIron" id="price">
                                       </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="item_image">Image</label>
                                    <input type="file" name="itemImage" id="item_Image">
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="submitBtn">Add Item</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{!-- list-item-display --}}
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="item-list-wrapper">
                            <div class="accordion" id="accordionExample">
                                {{#each allItem}}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{this._id}}">
                                        {{this.category}}
                                    </button>
                                    </h2>
                                    <div id="collapseOne{{this._id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="service">
                                            <ul>
                                                <li>Dry Wash- <span> <strong>{{this.serviceProvide.[0].dryWash}}</strong> Tk</span></li>
                                                <li>Steam Wash- <span> <strong>{{this.serviceProvide.[0].steamWash}}</strong> Tk</span></li>
                                                <li>Dry Iron- <span> <strong>{{this.serviceProvide.[0].dryIron}}</strong> Tk</span></li>
                                                <li>Steam Iron- <span> <strong>{{this.serviceProvide.[0].steamIron}}</strong> Tk</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
        {{>footer}}