<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
     <!-- font-awesome    -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
    <!-- aos.css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <!-- main-style -->
     {{!-- carousel --}}
     <link rel="stylesheet" href="plugins/css/owl.carousel.min.css">
     <link rel="stylesheet" href="plugins/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <title>Laundry Express</title>
</head>
<body>
    {{!-- modal-wrapper --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <span class="ProId" style="display: none;"></span>
                <h5 class="modal-title" id="exampleModalLabel">Bed Cover </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <h4>Select Your Service</h4>
                {{!-- single-service --}}
                <div class="single-checkbox ml-2 dryWash">
                   
                </div>
                {{!-- single-service --}}
                <div class="single-checkbox ml-2 steamWash">
                   
                </div>
                {{!-- single-service --}}
                <div class="single-checkbox ml-2 dryIron">
                   
                </div>
                    {{!-- single-service --}}
                <div class="single-checkbox ml-2 steamIron">
                </div>
                <div class="product-qunatity d-flex justify-content-between">
                    <h4>quantity</h4>
                    <div class="quantity-controler d-flex">
                        <button class="decreaseBtn">-</button>
                        <span class="quantityNumber">1</span>
                        <button class="increaseBtn">+</button>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary addToCartBtn" data-id ="0">Add to Cart</button>
            </div>
            </div>
        </div>
    </div>
{{!-- modal-wrapper-end --}}


    <div class="home-wrapper">
      <div class="container">
           <div class="home-wrapper-inner bg-white" style="width: 940px; margin: 0 auto;">
        <header>
            <div class="">
                {{!-- header-top --}}
                <div class="header-top" style="background-color: #EDFAFF;padding: 8px 16px;">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6">
                            <div class="header-top-left">
                                <a href="#"><i class="far fa-comment-alt mr-1"></i>Feedback</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-4 col-sm-4 col-xl-4 offset-md-2 offset-lg-2 offset-sm-2 offset-xl-2 d-flex align-items-end w-100 ">
                            <div class="header-top-right w-100 d-flex justify-content-between">
                                <a href="#" class="text-right"><i class="fas fa-comment-dollar"></i></i>Cost Estimator</a>
                                <a href="#" class="text-right"><i class="far fa-question-circle"></i>Have any Question?</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- header-midle --}}
                <div class="header-midle bg-white border-bottom">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6">
                            <div class="header-midle-left">
                                {{!-- <img src="" alt=""> --}}
                                <h2><span>Laundry</span>Express</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6  d-flex align-items-end w-100">
                            <div class="header-midle-right w-100 d-flex justify-content-between">
                                <a href="#" class="text-right">WANT A LAUNDER? <br> CALL US NOW!</a>
                                <span class="text-lg">+880123-456789</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- main-menu --}}
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Order</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                      <div class="header-bottom-right">
                        <ul>
                                <li onclick="myFunction()" class="dropbtn"><a href="#" class="pointerENone" data-toggle="tooltip" data-placement="top" title="Cart" class="cart-icon-nav"><i class="fa fa-shopping-cart pointerENone"></i></a><b id="cartTotalAmount" class="pointerENone">$00.00</b>
                                <!-- cart-box-home -->
                                <div class="cart-box-home dropdown-content" id="cart-box-home">
                                    <div class="cart-box-home-top" id="cart-box-home-top"></div>

                                    
                                    <!-- single-product -->
                                    <div class="single-product-cart">
                                        <div class="cart-product-img">
                                            <img src="images/icon/slide-icon4.png" alt="1.jpg">
                                        </div>
                                        <div class="cart-product-details-home">
                                            <p>Ultra Wireless S50 Headphones S50 with Bluetooth</p>
                                            <h6>1 x $25.00</h6>
                                        </div>
                                        <div class="cart-item-del-btn-home">
                                            <i class="fa fa-close"></i>
                                        </div>
                                    </div> 
                                    <div class="cart-box-home-bottom-btn">
                                        <a href="cart.html" class="viewCart">View Cart</a>
                                        <a href="#" class="checkOut" id="clearCartBtn">Clear Cart</a>
                                    </div>
                                </div>
                            </li>
                        </ul>       
                     </div> 
                </div>
            </div>
        </header>
        <section>
          <div class="home-slider-area">
                <div class="">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 col-12">
                            <div class="home-slider-wrapper heroSlide owl-carousel owl-theme">
                                <!-- single-slide -->
                                <div class="single-home-slide" style="background: url(images/home-slider/home-slider1.jpg); height:460px;">
                                    <div class="single-left text-left pb-5">
                                        <h2 class="animate__animated animate__fadeInDown">The Better <br> Solution for <br>Laundry</h2>
                                        <span class="animate__animated animate__fadeInDown">Under Favourble smart watches</span>
                                        <small class="animate__animated animate__fadeInDown">From</small>
                                        <b class="animate__animated animate__fadeInDown">$ <span>15</span>99</b>
                                        <a href="#" class="animate__animated animate__backInUp start-buying-btn">Start Buying</a>
                                    </div>
                                    
                                </div>
                                <!-- single-slide -->
                                <div class="single-home-slide" style="background: url(images/home-slider/home-slider2.jpg);height:460px;">
                                    <div class="single-left text-left pb-5">
                                        <h2 class="animate__animated animate__fadeInDown">The New <br> Standard</h2>
                                        <span class="animate__animated animate__fadeInDown">Under Favourble smart watches</span>
                                        <small class="animate__animated animate__fadeInDown">From</small>
                                        <b class="animate__animated animate__fadeInDown">$ <span>767</span>99</b>
                                        <a href="#" class="animate__animated animate__fadeInDown start-buying-btn">Start Buying</a>
                                    </div>
                                    
                                </div>
                                <!-- single-slide -->
                                <div class="single-home-slide" style="background: url(images/home-slider/home-slider3.jpg);height:460px;">
                                    <div class="single-left text-left pb-5">
                                        <h2 class="animate__animated animate__fadeInDown">The New <br> Standard</h2>
                                        <span class="animate__animated animate__fadeInDown">Under Favourble smart watches</span>
                                        <small class="animate__animated animate__fadeInDown">From</small>
                                        <b class="animate__animated animate__fadeInDown">$ <span>767</span>99</b>
                                        <a href="#" class="animate__animated animate__fadeInDown start-buying-btn">Start Buying</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
         </section>
          <section>
        <div class="service-area discover-counter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                       <div class="section-title text-center py-5 mb-5">
                            <h5>Click & Get Your</h5>
                            <h2><b>Service</b></h2>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12 col-12 ">
                    <div class="row product-carousel-wrapper owl-carousel owl-theme">
                       {{#each allItem}}
                        <!-- single-brand -->
                        <div class="single-brand-wrapper">
                          <a class="clickButton" data-toggle="modal" data-target="#exampleModal" data-id ="{{this._id}}"  data-category="{{this.category}}" data-itemOne ="{{serviceProvide.[0].steamWash}}" data-itemTwo = "{{serviceProvide.[0].dryWash}}" data-itemThree ="{{serviceProvide.[0].steamIron}}"data-itemFour ="{{serviceProvide.[0].dryIron}}">
                            <div class="single-brand one">
                             <h4>{{this.category}}</h4>
                            <img src="images/icon/icon1.png" alt="1.png">
                            </div>
                          </a>
                        </div>
                        {{/each}}
                      {{!-- <!-- single-brand -->
                      <div class="single-brand-wrapper">
                          <a href="#" data-toggle="modal" data-target="#exampleModal">
                          <div class="single-brand two">
                            <h4>Pillow Case</h4>
                            <img src="images/icon/icon2-1.png" alt="1.png">
                          </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                      <a href="#">
                            <div class="single-brand three">
                            <h4>Blunket</h4>
                            <img src="images/icon/icon3.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                          <a href="#">
                            <div class="single-brand four">
                                <h4>Seat Cover</h4>
                            <img src="images/icon/icon4.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                          <a href="#">
                        <div class="single-brand five">
                            <h4>Winter Wear</h4>
                            <img src="images/icon/icon5.png" alt="1.png">
                        </div>
                       </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                          <a href="#">
                                <div class="single-brand six">
                                <h4>Curtains</h4>
                                <img src="images/icon/icon6.png" alt="1.png">
                            </div>
                            </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                           <a href="#">
                            <div class="single-brand six">
                            <h4>Cushion & Sofa Cover</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                          <a href="#">
                            <div class="single-brand six">
                            <h4>Panjabi & Pajama</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                           <a href="#">
                            <div class="single-brand six">
                            <h4>Saree</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                           <a href="#">
                            <div class="single-brand six">
                            <h4>Skirt/Lahenga</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper"></div>
                      <a href="#">
                            <div class="single-brand six">
                            <h4>Suits</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                           <a href="#">
                            <div class="single-brand six">
                            <h4>Trouser/Pant</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                           <a href="#">
                            <div class="single-brand six">
                            <h4>Trouser/Pant</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                          <a href="#">
                            <div class="single-brand six">
                            <h4>Shirt/T-shirt</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div>
                      <!-- single-brand -->
                      <div class="single-brand-wrapper">
                           <a href="#">
                            <div class="single-brand six">
                            <h4>Curtains</h4>
                            <img src="images/icon/icon6.png" alt="1.png">
                        </div>
                        </a>
                      </div> --}}
                     </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
         {{!-- how we work --}}
         <section class="row">
            <div class="col-md-12 col-xl-12 col-lg-12">
                <div class="how-we-work-area py-5 bg-white">
                <div class="section-title text-center py-5 mb-5">
                    <h5>Clean Job Always</h5>
                    <h2>This is <b>How we work</b></h2>
                </div>
                <div class="row">
                    {{!-- single-service-widget --}}
                  <div class="col-md-4 col-lg-4 col-4 col-xl-4 col-sm-12">
                      <div class="single-service-widget text-center">
                          <div class="widget-icon-box">
                              <img src="images/icon/icon1.png" alt="">
                          </div>
                          <h4>WE PICK YOUR <br> CLOTHES</h4>
                          <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                      </div>
                  </div>
                    {{!-- single-service-widget --}}
                  <div class="col-md-4 col-lg-4 col-4 col-xl-4 col-sm-12">
                      <div class="single-service-widget text-center">
                          <div class="widget-icon-box">
                              <img src="images/icon/icon2-1.png" alt="">
                          </div>
                          <h4>QUICKER DELIVERY</h4>
                          <p>We ensure delivery in the quickest of the turnaround time in the industry. Superior quality of service with speed!</p>
                      </div>
                  </div>
                    {{!-- single-service-widget --}}
                  <div class="col-md-4 col-lg-4 col-4 col-xl-4 col-sm-12">
                      <div class="single-service-widget text-center">
                          <div class="widget-icon-box">
                              <img src="images/icon/icon3.png" alt="">
                          </div>
                          <h4>DELIVERY AT THE DOORSTEP!</h4>
                          <p>We have pioneered the concept of pickup and delivery in the shortest possible time. We intend keeping it that way!</p>
                      </div>
                  </div>
                </div>
            </div>
            </div>
         </section>
         {{!-- cta-area --}}
         <div class="cta-area py-5 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-6 col-lg-6 offset-md-3 offset-lg-3 offset-xl-5">
                        <div class="cta-box text-center my-5">
                            <div class="cta-icon">
                                <i class="fas fa-phone-volume"></i>
                            </div>
                            <h2>CALL US @ 223 334 6667</h2>
                            <p class="px-5">We deliver the goods to the most complicated places on earth</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         {{!-- counter-area --}}
         <section>
           <div class="counter-area" >
               <div class="counter-bg-layer" style="background-image: url(images/icon/caption/wave2.png);"></div>
               <div class="row">
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>50+</h1>
                           <p>Employees</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon4.png" alt="">
                           </div>
                       </div>
                   </div>
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>5</h1>
                           <p>Branches</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon5.png" alt="">
                           </div>
                       </div>
                   </div>
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>700+</h1>
                           <p>Jobs Done</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon6.png" alt="">
                           </div>
                       </div>
                   </div>
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>50+</h1>
                           <p>Employees</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon7.png" alt="">
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         </section>
        <!-- client-area -->
        <section>
            <div class="testimonial-section pt-100 mb-30">
                <div class="">
                    <div class="row">
                        <div class="col-md-8 col-xl-8 col-lg-8 offset-md-2 offset-lg-2 offset-xl-2">
                            <!-- section-title -->
                        <div class="section-title text-center py-5">
                            <h5>What they Say</h5>
                            <h2>abut <b>Laundry Express</b></h2>
                        </div>
                        </div>
                        <!-- testimonial-wrapper -->
                        <div class="col-md-12 col-xl-12 col-lg-12">
                            <div class="testimonial-wrapper owl-carousel owl-theme">
                            <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                    <div class="client-photo">
                                        <img src="images/icon/caption/testimonial-1.jpg" alt="client1.svg">
                                    </div>
                                    <div class="star-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star text-none"></i></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                    <div class="client-title">
                                        <h5>Md. Hassan Ahmed</h5>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                                <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                <div class="client-photo">
                                    <img src="images/icon/caption/testimonial-2.jpg" alt="client1.svg">
                                </div>
                                <div class="star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star text-none"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                <div class="client-title">
                                    <h5>Md. Hassan Ahmed</h5>
                                    <span>Web Developer</span>
                                </div>
                                </div>
                                <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                <div class="client-photo">
                                    <img src="images/icon/caption/testimonial-3.jpg" alt="client1.svg">
                                </div>
                                <div class="star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star text-none"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                <div class="client-title">
                                    <h5>Md. Hassan Ahmed</h5>
                                    <span>Web Developer</span>
                                </div>
                                </div>
                                <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                <div class="client-photo">
                                    <img src="images/icon/caption/testimonial-4.jpg" alt="client1.svg">
                                </div>
                                <div class="star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star text-none"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                <div class="client-title">
                                    <h5>Md. Hassan Ahmed</h5>
                                    <span>Web Developer</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <!-- contact-us -->
    <section>
      <div class="contact-us-area ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3">
                <!-- section-title -->
                    <div class="section-title text-center py-5">
                        <h5>Describe your demand</h5>
                        <h2>And Get in touch with<b> Laundry Express</b></h2>
                    </div>
                </div>
                <!-- form -->
               <form action="" class="contact-form-wrap">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                           
                     <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12 col-12">
                         <div class="row">
                             <div class="col-md-8 col-lg-8 col-xl-8 offset-md-2 offset-lg-2 offset-xl-2">
                                  <!-- error-success-msg -->
                               <div class="msg-box-wrapper">
                                <span class="msg-box"></span>
                               </div>
                             </div>
                             <!-- first-name -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="First Name" id="f_name">
                                 </div>
                             </div>
                              <!-- last-name -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="Last Name" id="l_name">
                                 </div>
                             </div>
                             <!-- Email -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="email" placeholder="Email" id="u_email">
                                 </div>
                             </div>
                              <!-- Phone -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="Phone" id="u_phone">
                                 </div>
                             </div>
                               <!-- Select Service -->
                               <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                   <div class="form-group">
                                       <select name="" id="service">
                                           <option value="-Select Service">-Select Service</option>
                                           <option value="Digital Marketing">Digital Marketing</option>
                                           <option value="SEO">SEO</option>
                                           <option value="Web Development">Web Development</option>
                                           <option value="Android">Android</option>
                                       </select>
                                   </div>
                               </div>
                                 <!-- Subject -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="Subject" id="subject">
                                 </div>
                             </div>
                              <!-- Message -->
                             <div class="col-md-12 col-lg-12 col-xl-12 col-12 col-sm-12">
                                 <div class="form-group">
                                     <textarea name="" id="u_message" cols="5" rows="3" placeholder="Message"></textarea>
                                 </div>
                             </div>
                               <!-- submit button -->
                               <div class="col-md-6 col-lg-6 col-xl-6 col-6 col-sm-6">
                                   <div class="form-group">
                                       <button type="submit" class="submit-message" id="submit"> Send Message</button>
    
                                   </div>
                               </div>
                                <!-- loader -->
                                <div class="col-md-6 col-lg-6 col-xl-6 col-6 col-sm-6">
                                    <div class="form-group">
                                      <div class="loader-box">
                                        <img src="assets/images/login/Spinner-1s-200px.gif" alt="spinner.gif">
                                      </div>
                                    </div>
                                </div>
                         </div>
                     </div>
                        <!-- google-map -->
                        <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-12">
                         <div class="map-wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3608.7365531999494!2d55.29768101501043!3d25.245796783873608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s3%2C%202%2C%20B%2C%20King%20of%20Dubai%20Commercial%20-!5e0!3m2!1sen!2sbd!4v1610190021835!5m2!1sen!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                         </div>
                     </div>
                    </div>
                 </div>
               </form>
            </div>
        </div>
      
      </div>
    </section>
    <!-- footer-section -->
    <footer>
      <div class="footer-section">
          <div class="container">
              <div class="row">
                  <!-- single-footer-widget -->
                  <div class="col-md-5 col-lg-5 col-xl-5 col-12 col-sm-12">
                      <div class="single-widget">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="logo.png">
                        </div>
                        <p>Get in touch with smart technology and get your Expected service from Technolt</p>
                        <div class="social-link">
                            <ul>
                                <li><a href="https://www.facebook.com/polockgrp/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                      </div>
                  </div>
                    <!-- single-footer-widget -->
                    <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                       <h5>Our Concern</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="http://www.ngitbd.com/">NGIT</a></li>
                                <li><a href="http://1touchbd.com/">1touch</a></li>
                                <li><a href="https://www.facebook.com/PolockInteriorDesign">Polock Interior</a></li>
                                <li><a href="dryexpre.com.bd">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                        <!-- single-footer-widget -->
                  <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Services</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Bank Management System</a></li>
                                <li><a href="#">Home & Commercial Automation </a></li>
                                <li><a href="#">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-footer-widget -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Our Address</h5>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-house"></i>
                            </div>  
                             <div class="add-info">
                                3, 2, B, King of Dubai Commercial - (Bur Dubai Mankhool )
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-mail"></i>
                            </div>  
                             <div class="add-info">
                                info@polockgroup.com
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-call"></i>
                            </div>  
                             <div class="add-info">
                                +971 54 746 2503
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 copyright-bottom">
                   <div class="row">
                       <div class="col-md-7 col-xl-7 col-lg-7 col-12 col-sm-12">
                           <p class="text-center">Copyright ©2020 All rights reserved | technolt is made by  <a href="#">1-touch</a></p>
                       </div>
                       <div class="col-md-5 col-xl-5 col-lg-5 col-12 col-sm-12">
                         <ul class="footer-link-bottom">
                             <li><a href="#">Terms of Service</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Support</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
    </footer>
      </div>
      </div>
     
    </div>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="js/pages/frontend/active.js"></script>
    <script src="js/pages/frontend/cart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="active.js"></script>
    <script src="formValidate.js"></script>
    <script src="home.js"></script>

</body>

</html>